

<form action ="/articles/create" method="post">
    <input type = "text" name = "title"> <!--dto의 필드명과 매칭 시켜야함 -->
    <textarea name = "content"></textarea>
    <button type = "submit">Submit</button>
</form>






